@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@ViewBag.Title</title>
        <link asp-href-include="~/css/index.css" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>