@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Get html page</title>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
    <form method="post" class="form_address">
        <lable asp-for="address" class="address_label">Input address site</lable><br/>
        <input name="address" type="text"/> <br />
        <input type="submit" value="Send"/>
    </form>
    <p>@ViewBag.Message</p>
</body>
</html>