@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Get html page</title>
    <link asp-href-include="~/css/index.css"/>
</head>
<body>
    <form method="post" id="form_address">
        <lable asp-for="address" class="address_label">Input address site</lable><br/>
        <input type="text"/> <br />
        <input type="submit" value="Send"/>
    </form>
</body>
</html>